In [121]:
# Import all libraries needed for the tutorial
import pandas as pd
from numpy import random
import matplotlib.pyplot as plt
import sys #only needed to determine Python version number
import numpy as np
# Enable inline plotting
%matplotlib inline
from datetime import date

In [122]:
df = pd.DataFrame({'A': [1,2,3,4], 'B': [5,6,7,8], 'C': [9,10,11,12]})
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [123]:
new_row = pd.DataFrame({'A': [35], 'B': [27], 'C': [43]})
new_row

    A   B   C
0  35  27  43

In [124]:
df.loc[4] = new_row.loc[0]
df

    A   B   C
0   1   5   9
1   2   6  10
2   3   7  11
3   4   8  12
4  35  27  43