<a href="http://www.deeptenger.com/"><img style="background: #2B2B2B; border: 3px solid #c3bebe; border-radius: 15px; opacity: 0.8; padding:0px 3px;" src="http://www.deeptenger.com/init/static/images/deep-tenger-logo.png" 
alt="IMAGE ALT TEXT HERE" width="180"/></a>

<h2 style="color: #2B3B2B;"><center>Appending a row to a dataframe.</center></h2>

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame({'A': [1,2,3,4], 'B': [5,6,7,8], 'C': [9,10,11,12]})
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [24]:
new_row = pd.DataFrame({'A': [35], 'B': [27], 'C': [43]})
new_row

    A   B   C
0  35  27  43

In [25]:
df.loc[4] = new_row.loc[0]
df

    A   B   C
0   1   5   9
1   2   6  10
2   3   7  11
3   4   8  12
4  35  27  43

[TengerData](http://www.tengerdata.com/)

[Deep Tenger](http://www.deeptenger.com/)